@charset "ISO-8859-1";
.main-body{
	padding-bottom:70px;
}
table {
	width: 100%;
}

table, thead, td, tbody {
	padding: 10px;
	border: 1px solid black;
	border-collapse: collapse;
	font-size:15px;
}
thead{
	background-color: rgb(250, 243, 204);
}
.navbar {
	background: linear-gradient(to bottom, #6666ff 15%, #ffff66 110%);
	height: 20%;
}

.h2 {
	color: #1d1d69;
}

.navlink {
	margin-top: 5%;
	margin-right: 5%;
}

fieldset {
	height: 61.5%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	width: 95%;
	border: 2px solid rgb(212, 210, 210);
	
}

.heading {
	font-size: 18px;
	color: #6666ff;
	width: 150px;
	margin-top: -20px;
	margin-left: 5px;
	background: white;
}

.btns {
	text-align: right;
	margin: 2% 2% 2% 2%;
}
.emplist{
	margin:2% 2% 2% 2%;
}